.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #181c32;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 58px;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

.list-admin {
  color: #818181;
}
.list-admin:last-child {
  margin-bottom: 166px;
}

li {
  list-style: none;
  /* margin-left: 35px; */
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar p {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 19px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 19px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #181c32;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}
